{% extends 'base.html' %}

{% block content %}
<table id="product-table" class="table caption-top">
    <caption>
        <h2 id="product-table-title">No products yet</h2>
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Name</th>
            <th>Color</th>
            <th>Price</th>
            <th>Manufacturer</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

{% endblock %}