<div id="product-select-buttons" class="btn-group-lg bg-light sticky-top " role="group"
    aria-label="Buttons for product selection" style="width: 100%; padding:5px;">
    {% for p in product_types %}
    <input type="radio" class="btn-check" name="btnradio" id="btnradio{{loop.index}}" autocomplete="off" value={{p}}>
    <label class="btn btn-primary" for="btnradio{{loop.index}}">{{p|capitalize}}</label>
    {% endfor %}
</div>